body{
    background-color: black;
    
}
.container{
    background-image: url('images/karsten-winegeart-NE0XGVKTmcA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    height: 600px;
    display: block;
    
}
h1{
    padding-top: 50px;
    font-family: 'Fredoka One', cursive;

}
h2{
text-align: center;  
font-family: 'Frank Ruhl Libre', serif;
font-size: 30px;
}
#kanine{
background-color: rgb(243, 255, 212);
}
header{
    background-image: url(kanine/Header_20.jpg);
    background-color: #1d1e19;
    background-position-x: right;
    margin-left: 10px;
    background-repeat: no-repeat;
    color: white;
    
}
.title{
    font-family: 'Fruktur', cursive;
    font-size: 40px;
}
p{
    float: left;

width: 650px;
margin-left: 100px;
font-size: 30px;
}
aside img{
width: 400px;
height: 400px;
float: right;
margin-right: 50px;


}
div#messege{
    background-color: gold;
    height: 50px;
    position:fixed;
    top: 0;
    width: 100%;
    text-align: center;
}
div.showme{
    display:block;
}
div.hideme{
    display: none;
}