body{
    background-color: black;
    
}
.container{
    background-image: url('images/karsten-winegeart-NE0XGVKTmcA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    height: 600px;
    display: block;
    
}
h1{
    padding-top: 50px;
    font-family: 'Fredoka One', cursive;

}
h2{
text-align: center;  
font-family: 'Frank Ruhl Libre', serif;
font-size: 30px;
}